#innovating {
	margin-top: 2em;
	background-image: url(/img/innovating.jpg);
	background-repeat: none none;
	background-size: 2000px auto;
	background-position: bottom center;
	height: 30em;
	color: white;
	text-align: center;
	position: static;

	h1 {
		color: white;
	}

	p {
		font-size: $h5-font-size;
	}
}

#projects {
	background: url(/img/projects.png) no-repeat top black;
	background-repeat: none none;
	background-size: 2000px auto;
	background-position: bottom center;
	height: 30em;
	color: white;
	text-align: center;
	position: static;	
	.row {
		background: rgba(0,0,0,.6)
	}

	h1 {
		color: white;
	}

	p {
		font-size: $h5-font-size;
	}
}

#people {
	background: url(/img/people.jpg) no-repeat top black;
	background-repeat: none none;
	background-size: 2000px auto;
	background-position: bottom center;
	height: 30em;
	color: white;
	text-align: center;
	position: static;	
	.row {
		background: rgba(0,0,0,.1)
	}

	h1 {
		color: white;
	}

	p {
		font-size: $h5-font-size;
	}
}

#drugarp {
	margin-top: 2em;
	background: url(/img/2rp.png) no-repeat top black;
	background-repeat: none none;
	background-size: 2000px auto;
	background-position: bottom center;
	height: 30em;
	color: black;
	text-align: center;
	position: static;
	h1 {
		color: black;
	}

	p {
		font-size: $h5-font-size;
	}
}

#pogranicze {
	margin-top: 2em;
	background: url(/img/multitasking-manager-work.jpg) no-repeat top black;
	background-repeat: none none;
	background-size: 2000px auto;
	background-position: center top;
	height: 30em;
	color: black;
	text-align: center;
	position: static;
	h1 {
		color: black;
	}

	p {
		font-size: $h5-font-size;
	}
}

.valign-middle {
	  display: table;
	  height: 100%;

	  > .columns {
	      display: table-cell;
	      vertical-align: middle;
	  }

	  > .columns, > [class*="column"] + [class*="column"]:last-child {
	      float: none;
	  }
	} 


.fullwidth {
	width: 100%;
	padding: 2em 0;

	h1, h2, h3, h4, h5, h6 {
		color: white;
		margin: 1em 0;
	}
}

ul.shortinfo {
	@include inline-list;
	
		li {
			font-family: monospace;
		}
}
