.teaser {

	margin-top: 2em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-color: #05344e;

	height: 30em;

	color: white;

	text-align: center;

	.row {
		margin: 0;
		width: 100%;

	}

	h1 {
		color: white;
	}

	p {
		font-size: $h5-font-size;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .teaser{ 
        background-attachment: scroll;
    }
}

#innovating {
	background-image: url(/img/innovating.jpg);
}

#projects {
	background-image: url(/img/projects.png);

	.row {
		background: rgba(0,0,0,.6)
	}
}

#people {
	background-image: url(/img/people.jpg);

	.row {
		background: rgba(0,0,0,.3)
	}
}

#drugarp {
	background-image: url(/img/2rp.png);

	color: black;

	h1 {
		color: black;
	}
}

#pogranicze {
	background-image: url(/img/multitasking-manager-work.jpg);
	background-position: center center;

	.row {
		background: rgba(0,0,0,.3)
	}
}

.valign-middle {
	  display: table;
	  height: 100%;

	  > .columns {
	      display: table-cell;
	      vertical-align: middle;
	  }

	  > .columns, > [class*="column"] + [class*="column"]:last-child {
	      float: none;
	  }
	} 


.fullwidth {
	width: 100%;
	padding: 2em 0;

	h1, h2, h3, h4, h5, h6 {
		color: white;
		margin: 1em 0;
	}
}

ul.shortinfo {
	@include inline-list;
	
		li {
			font-family: monospace;
		}
}
