@import url(http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,700italic,800italic,800,400italic,300italic&subset=latin,latin-ext);


/*@font-face {
    font-family: 'HumanistEU';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/0857eu27-webfont.eot');
    src: url('/fonts/0857eu27-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/0857eu27-webfont.woff') format('woff'),
         url('/fonts/0857eu27-webfont.ttf') format('truetype');


}

@font-face {
    font-family: 'HumanistEU';
    font-style: italic;
    font-weight: normal;
    src: url('/fonts/0858eu27-webfont.eot');
    src: url('/fonts/0858eu27-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/0858eu27-webfont.woff') format('woff'),
         url('/fonts/0858eu27-webfont.ttf') format('truetype');
    

}




@font-face {
    font-family: 'HumanistEU';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/0859eu27-webfont.eot');
    src: url('/fonts/0859eu27-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/0859eu27-webfont.woff') format('woff'),
         url('/fonts/0859eu27-webfont.ttf') format('truetype');


}

*/

