row {
	margin: 3%;
}

header#header {
		border-bottom: 1px solid rgba(0,0,0,0.5);
		background: #231f20;
		width: 100%;
		position: fixed;
		z-index: 100;

}

@media #{$small-only} { 

	#togler {
		right: 5%; top:1.5em; color:white; display:block; position: absolute; z-index:100; cursor: pointer;

	}

	section[role='main'] {
		padding-top: 2em;
	}

	#nav {
		display: none;
	}



	header#header {

		text-align:center;

		img.logo.horizontal {
			margin: 1em;
			height: 2em;
			width: auto;
			display: inline;

		}

		ul {
			display:inline-block;
			margin-top: 1ex;

			li {
				padding:1ex;
				a {
					font-size: 1em;
					color: white;
				}
			}
		}
	}
}


@media #{$medium-up} { 

	#togler {
		display: none;
	}


	section[role='main'] {
		padding-top: 3em;
	}

	img.logo.horizontal {
		height: 3em;
	}

	header#header {
		padding: 1em 4.5% 0;

		ul {
			display:inline-block;
			li {
				vertical-align: middle;
				a {
					font-size: 1.5em;
					color: white;
				}
			}
		}
	}


	/*header#header {
		padding-top: 1em;
		padding-bottom: 1em;
		margin-bottom: 2em;
		border-bottom: 1px solid rgba(0,0,0,0.5);
		background: #231f20;
	}*/


}


.animation {
	position: relative;
	
	img.first {
	  -webkit-animation: myanim 5s infinite ease-in-out; /* Chrome, Opera 15+, Safari 5+ */
	          animation: myanim 5s infinite ease-in-out; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	

	img.second {
		position:absolute;
		top:0;
		left:0;
		z-index: -1;
	}
}

@-webkit-keyframes myanim {
	  0%   { opacity: 1.0; }
	  50% { opacity: 0.0; }
	  100% { opacity: 1.0; }
}

@keyframes myanim {
	  0%   { opacity: 1.0; }
	  50% { opacity: 0.0; }
	  100% { opacity: 1.0; }
}

/* style="width: 64px; float:left;" */